@import url('./normalize.css');
@import url('./grid.css');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('./vazir.css');
* { box-sizing: border-box; }
body {
    background-color: #f5f5f5;
    direction: rtl;
    text-align: right;
    font-family: 'Vazir', sans-serif;
    font-size: 16px;
    line-height: 1.618;
}

/**
 * Top navbar
 */
nav {
    background-color: #ffffff;
    border-top: 6px solid #7b1fa2;
    box-shadow: 1px 0 2px 2px rgba(42,42,42,.25);
    width: 100%;
    z-index: 400;
}
.nav--brand-link {
    text-decoration: none;
}
.foss4-logo {
    display: flex;
    height: 64px;
    width: 64px;
    background-color: #7b1fa2;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.nav--links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.nav--links li {
    display: flex;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
.nav--links li a {
    color: #a1a1a1;
    text-decoration: none;
    font-weight: 500;
}
.nav--site-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav--site-title {
    margin-bottom: 0;
    margin-top: 0;
    color: #7b1fa2;
    margin-right: 0.7em;
    line-height: 1.2;
}

.nav--search-wrapper {
    margin-right: auto !important;
    display: flex;
    border-right: 2px solid #f5f5f5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input[type=search] {
    appearance: none;
    border: none !important;
    font-weight: 500;
    padding-right: 0.5em;
    font-size: 0.8em;
}
input[type=search]::placeholder {
    color: #4a0072;
}
input[type=search]:focus {
    outline: 0;
}
.btn-search {
    color: #a1a1a1;
    appearance: none !important;
    font-size: 0.8em;
    background: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0 !important;
    border: none !important;
    padding-top: 0.5em;
    cursor: pointer;
    transition: 200ms linear color;
}
.btn-search:hover {
    color: #7b1fa2;
    transition: 200ms linear color;
}

/**
 * Site main
 */
.site--description {
    text-align: center;
    font-size: 0.8em;
    color: #a1a1a1;
}
.site--description strong {
    color: #525252;
}

/**
 * - Featured
 */
.featured {
    margin-top: 1em;
}
.featured a {
    color: #f6f6f6;
}
.featured .card--newsletter a {
    color: #444;
}
.featured .card--newsletter p {
    text-align: justify;
    font-size: 0.9em;
}
.card {
    display: flex;
    flex-direction: column;
    height: 255px !important;
}
.card--lg {
    height: 540px !important;
}
.card--newsletter {
    background-color: #4527a0;
    color: #fff;
    margin-bottom: 28px;
}
.card--content {
    padding: 1.875rem 2.5rem;
}
.card--content h4 {
    margin: 0;
}
.card-image {
    max-height: 166px;
    z-index: 100;
    width: 100%;
    display: block;
}
.card--lg .card-image {
    height: auto !important;
    max-height: 360px !important;
}
.card-caption {
    width: 100%;
    z-index: 600;
    height: 90px;
    color: #fff;
    background-color: #2a2a2a;
    padding: 0.875rem 1.5rem;
}
.card-caption--lg {
    padding: 1.875rem 2.5rem;
    height: 190px;
}
.s-caption--tag {
    text-decoration: none;
    font-size: 0.8em;
    color: #f5f5f5;
}
.card-caption .card-caption--title {
    font-size: 1em;
    margin-top: 0;
    font-weight: bold;
}
.card-caption--lg .card-caption--title {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: .6em;
}
.card--icon {
    font-size: 1.5em;
    text-align: left;
}
.card--button {
    text-align: center;
    margin: auto !important;
    text-decoration: none;
    padding: 0.4em 2.125em;
    background-color: #fff;
}